@charset "utf-8";
#del-wrap{
	height: 380px;
	margin-top:10px;
}
.del_box{
	height: 380px;
	width: 815px;
/*	border:1px solid #333;*/
	margin:0 auto;
}
.del_imgbox{
	height: 380px;
	width: 380px;
	margin-right:5px;
	float:left;
}
.del_box img{
	height: 100%;
	width: 100%;
}
.del_titbox{
	height: 380px;
	width: 370px;
	float:left;
	padding-left:10px;
}
.del_p1{
	height: 20px;
	padding-top: 20px;
	font-size: 20px;
	font-weight: 900;
	line-height: 20px;
	color: #000;
	margin-bottom:10px;
}
.del_p2{
	height: 90px;
	font-size: 12px;
	line-height: 30px;
	color: #666;
	margin-bottom:15px;
}
.del_p3{
	padding: 5px;
	height: 12px;
	width: 200px;
	font-size: 12px;
	line-height: 12px;
	color: #333;
	margin-bottom:5px;
	border:1px solid #444;
}
.del_p3 span{
	color:red;
}
.del_p4{
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	color: #333;
	margin-bottom:20px;
}
.del_btn{
	height: 20px;
	margin-bottom: 10px;
}
.del_btn input{
	height: 20px;
	width: 25px;
	margin-right:10px;
	float:left;
}
.del_btn span{
	display: block;
	line-height: 20px;
	width:40px;
	background: green;
	color: #ccc;
	text-align: center;
	float:left;
	margin-right:10px;
}
.del_p5{
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	color: #444;
	text-decoration: line-through;
	margin-bottom:10px;
}
.del_p6{
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	color: #333;
	margin-bottom:40px;
}
.del_p6 span{
	color:red;
}
.p7_l{
	display: block;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	width: 170px;
	float:left;
	background: #56a025;
	color:#fff;
	text-align: center;
}
.p7_r{
	display: block;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	width: 170px;
	float:right;
	background: #0085c3;
	color:#fff;
	text-align: center;
}